@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
    margin : 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header {
  background: url( './images/1073995.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

.equip_btn{
  color: #fff;
  border: #209fadc7 solid;
  border-radius:30px;
  background-color: transparent;
  padding:7px 10px;
  position:relative;
  font-weight:bold;
  transition: 0.5s;
}.equip_btn:hover{
  background-color: #209fad28;
  transition: 0.5s ;
  cursor:pointer;
}

.title {
  font-family: 'Lilita One', cursive;
  font-size: 5rem;
  color: #fff;
  margin: 20vh auto 15vh auto;
}

.searchBarTile{
  display:flex;
  flex-direction: column;
}

.searchBar{
  margin:0 auto;
  width:30%;
  border-radius:30px;
  border:1px solid #dcdcdc;
  background-color: white;
  display:flex;
  flex-direction: row;
}
.searchBar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.searchBar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchInput{
  border:none;
  border-radius: 35px;
  width: 90%;
  padding-left: 1vw;
  height: 40px;
  font-size:18px;
  outline: none;
}

input::placeholder {
  color: rgb(20, 20, 20); 
  font-size: 0.9vw;
}

.searchIcon{
  position:relative;
  margin-right: 1.3vw;
  font-size: 1.5vw;
}

.btn{
  border:none;
  border-radius: 50%;
  text-decoration: none;
  background-color: transparent;
}.btn:hover{
  cursor: pointer;
}

.return_btn{
  border:none;
  border-radius: 3vw;
  text-decoration: none;
  background-color: #4079a8f1;
  margin: auto 1vw auto 0;
  padding: 8px 10px;
  width: 12vw;
  font-size: 0.9vw;
  font-weight: 600;
  color: white;
}.return_btn:hover{
  cursor: pointer;
  background-color: #4079a8f1;
}

.content{
  background-color : #101b1f; 
  display: flex;
}

.main{
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}

.pagination{
  display: flex;
  flex-direction: row;
  margin: 8vh auto 0 auto;
}

.page_btn{
  font-size: 1vw;
  padding: 0.3vw 0.5vw;
  background-color:#4079a8f1;
  color: white;
  border: none;
  border-radius: 0.8vw;
  margin:0 1vw;
  display: flex;
  flex-direction: row;
}.page_btn:hover{
  cursor: pointer;
}
.number{
  color: white;
  border-radius: 50%;
  padding: 2px 8px; 
  margin:auto 0.2vw;
}

.activeNumber{
  color:#4079a8f1;
}