.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 50px;
  grid-auto-rows: 280px;
}

.listCard {
    background-color: #649ed2c2;
    border-radius: 5%;
    text-align: center;
    padding : 1.5vw;
    margin:auto;
}.listCard:hover{
  transition: 0.1s;
}

.clickPokemon{
  text-decoration:none; 
  background-color:transparent; 
  border:none; 
  cursor:pointer; 
  font-weight:bold; 
  font-family: 'Montserrat', sans-serif;
}

.card_btn{
  text-decoration:none; 
  background-color:transparent; 
  border:none; cursor:pointer; 
  font-weight:bold; 
  font-family: 'Montserrat', sans-serif
}

.name{
  color: #fafafa;
  font-size:1.4vw;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.typpe{
  color:#fdfdfd;
  text-transform: capitalize;
  background-color: #62ccd2f2 ;
  border-radius: 0.6vw;
  padding: 0.3vw;
  margin: auto;
  width:6vw;
}

.wrapper img{
  width: 60%;
  padding: 1vw;
}
