.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 50px;
  grid-auto-rows: 280px;
}

.listCard {
    background-color: #04808e9e;
    border-radius: 5%;
    text-align: center;
    padding : 1.5vw;
    margin:auto;
}.listCard:hover{
  transition: 0.1s;
}

.name{
  color: rgb(0, 255, 242);
  font-size:1.2vw;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.typpe{
  color:#101b1f;
  text-transform: capitalize;
  background-color: rgb(0, 255, 242);
  border-radius: 0.6vw;
  padding: 0.3vw;
  margin: auto;
  width:7vw;
}

.wrapper img {
    width: 60%;
    padding: 1vw;
}
