<!DOCTYPE html>
<html>
    <head>
        <title>PokeDex</title>
        <link href="../assets/styles/index.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link href="../assets/styles/listStyle.css" rel="stylesheet">
    </head>
    <body>
        <nav class="header">
        <center>
        <header>
            <ul>
                <li><a class="links" href="#user"><button class="equip" type="button">+ Créer une équipe</button></a></li>
            </ul>
        </header>
            <div class="logo">
                <h1> Recherche </h1>
            </div>
            <div class="bar">
                <input class="searchbar" type="text" title="Search">
                <a href="#" title="Search Pokemon !"><i class="searchIcon uil uil-search"></i></a>
            </div>
        </nav>
        <nav class="main">
            <div class="wrapper">
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
                <div><img src="../assets/img/visuel.jpg"></div>
            </div>
        </nav>
    </body>


</html>