{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed pokemon</title>
    <link rel="stylesheet" href="{% static 'pokedex/index.css' %}">
    <link rel="stylesheet" href="{% static 'pokedex/detailsPokemon.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@600&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="img_background">
        <div class="container" style="background-color:#209fad28">
            <div class="headerDetails">
                <p classs="pokeTitle" style="position: absolute;left:0; margin: 4vh 0 0 4vh;">Pokedex</p>
                <button class="return_btn_details" type="submit" onclick="location.href={% url 'pokedex' %}">Retour aux pokemons</button>
            </div>
            
            <div class="bio">
                <img class="pokeImg" src="{{pokemon.urlImage}}">
                <div class="description">
                    <p class="pokeName">{{pokemon.name}}</p>
                    <p class="pokeType">{{pokemon.type}}</p>
                    <p class="pokeWeight">{{pokemon.weight}}</p>
                    <p class="pokeDescr">{{pokemon.description}}</p>
                    <button class="addPoke" onclick="location.href='{% url 'addedPokemon' pokemon.id %}'" type="submit">+ Ajouter ce pokemon à mon équipe</button>
                </div>
            </div>

            <div class="swipe">
                {% if pokemon.id == 1 %}
                    <input class="next_btn" type="button" value="Suivant" onclick="location.href='{% url 'detailedPokemon' nextPokemon %}'"  />
                {% elif pokemon.id == 151 %}
                    <input class="previous_btn" type="button" value="Precédent" onclick="location.href='{% url 'detailedPokemon' previousPokemon  %}'"  />
                {% else %}
                    <input class="previous_btn" type="button" value="Precédent" onclick="location.href='{% url 'detailedPokemon' previousPokemon  %}'"  />
                    <input class="next_btn" type="button" value="Suivant" onclick="location.href='{% url 'detailedPokemon' nextPokemon %}'"  />
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>