{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>PokeDex</title>
        <link rel="stylesheet" href="{% static 'pokedex/index.css' %}">
        <link rel="stylesheet" href="{% static 'pokedex/listStyle.css' %}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    </head>
    <body>
      
        <nav class="header">
        <center>
        <header>
            <ul>
                <li><a class="links" href="#user"><button class="equip" type="button">+ Créer une équipe</button></a></li>
            </ul>
        </header>

            <div class="logo">
                <h1> Recherche </h1>
            </div>
            <div class="bar">
                <input class="searchbar" type="text" title="Search">
                <a href="#" title="Search Pokemon !"><i class="searchIcon uil-search "></i></a>
            </div>
        </nav>
        <nav class="content">
            <nav class="main">
                <div class="wrapper">
                    {% for pokemon in pokemonList %}
                    <div><a href="pokedex/detailed/{{pokemon.id}}" style="text-decoration:none;">
                      {{ pokemon.name }}
                      <img src="{{pokemon.urlImage}}">
                        </a>
                    </div>
                    {% endfor %}
                    <input type="button" value="Next Page" onclick="location.href='{% url 'nextPage' pageNumber  %}'"  />
                    <div>{{ pageNumber }}</div>
                    <input type="button" value="Next Page" onclick="location.href='{% url 'nextPage' pageNumber %}'"  />
                </div>


            </nav>
        </nav>

    </body>


</html>

