{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>PokeDex</title>
        <link rel="stylesheet" href="{% static 'pokedex/index.css' %}">
        <link rel="stylesheet" href="{% static 'pokedex/listStyle.css' %}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@600&display=swap" rel="stylesheet"> 
    </head>
    
    <body>
        <div class="header">           
            <div class="title"> Pokedex </div>
            <div class="searchBarTile">
                <form class="searchBar" action="{% url 'searchPokemon' %}">
                    <input class="searchInput" type="text" name="search" placeholder="Recherchez un pokemon" value="{{request.GET.title}}">
                    <button class="btn" type="submit" value="Search"><i class="searchIcon uil-search"></i></button>
                </form>
                <div class="buttons" style="margin: 5vh auto 0 auto">
                    <button class="return_btn" type="submit" onclick="location.href={% url 'pokedex' %}">Retour aux pokemons</button>
                    <button class="equip_btn" type="button">+ Créer une équipe</button>
                </div>
            </div>
        </div>
        <nav class="content">
            <nav class="main">
                <div class="wrapper">
                    {% for pokemon in pokemonList %}
                    <div class="listCard">
                        <a href="pokedex/detailed/{{pokemon.id}}" style="text-decoration:none;">
                            <div class="name">{{ pokemon.name }}</div>
                            <img src="{{pokemon.urlImage}}">
                            <div class="typpe">{{ pokemon.type }}</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
        </nav>
        </nav>
    </body>
</html>

